<nav class="navbar  navbar-expand-lg navbar-dark" style="background-color:blue;">
    <div class="container-fluid  d-flex flex-row align-items-between">
      <a class="navbar-brand" href="#">EMPLOY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">HOME</a>
          <a class="nav-link active" href="/admin/add-employee-page">ADD NEW EMPLOYEE</a>
          <a class="nav-link active" href="/admin/view-employees">ALL EMPLOYEES</a>
          <a class="nav-link active" href="/admin/getallemployees" >CREATE REVIEW TASK</a>
          <a class="nav-link active" href="/user/task-view/<%=locals.user.id%>">TASKS</a>
          <a class="nav-link active" href="/admin/reviews">REVIEWS</a>
          <!--<a class="nav-link disabled">Disabled</a> -->
        </div>
      </div>
      <button type="button" class="btn btn-success" id="theme-button"><i class="fa-solid fa-palette"></i></button>
      <a href="/user/logout"><button type="button" class="btn btn-danger"><i class="fa-solid fa-arrow-right-from-bracket"></i></button></a>
    </div>
  </nav>