
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid  d-flex flex-row align-items-between">
      <a class="navbar-brand" href="#">EMPLOY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">LOGIN</a>
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">SIGNUP</a>
          <!-- <a class="nav-link disabled">Disabled</a> -->
        </div>
      </div>
    </div>
  </nav>