body{
    background-image: url("https://coolbackgrounds.io/images/backgrounds/black/black-trianglify-b6181ec2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    background-position: center;

}